body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  padding: 20px;
}

/* ANIMAÇÃO */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.8s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* HEADER */
header {
  margin-bottom: 40px;
}

header h1 {
  font-size: 32px;
}

header p {
  margin: 10px 0;
}

/* SOBRE */
.sobre {
  max-width: 600px;
  margin: auto;
  margin-bottom: 40px;
}

/* PROJETOS */
.projetos h2 {
  margin-bottom: 20px;
}

/* CARDS */
.card {
  background: white;
  color: black;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* BOTÕES */
.botoes a {
  text-decoration: none;
  background: #2a5298;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

.botoes a:hover {
  background: #1e3c72;
}

/* FOOTER */
footer {
  margin-top: 40px;
  color: #ccc;
}